.codeButtonGreen{
    color: #32cd32;
    background-color: #666666;

    font-weight: bold;
    font-family: Georgia;

    border-radius: 45px;
}

.codeButtonRed{
    color: #FF0000;
    background-color: #000000;

    font-weight: bold;
    font-family: Arial;

    border-radius: 45px;
}

.codeButtonBlue{
    color: #0000FF;
    background-color: #000000;

    font-weight: bold;
    font-family: Arial;

    border-radius: 45px;
}

.ideMain{
    background-color: #ACACAC;

    border: solid;
    border-color: #000000;
    border-width: 5px;

    position: relative;
    text-align: center;

    font-family: Arial;

    align-items: center;
}

.ideBug{
    display: grid;
    grid-template-areas:
    "major minor warning";
    border: solid;
    border-color: #000000;
    border-width: 3px;

    text-align: center;

    font-family: Arial;
}

.ideOutput{
    display: grid;
    grid-template-areas:
    "output output";

    border: solid;
    border-color: #00CCFF;
    border-width: 3px;

    text-align: center;

    font-family: Helvetica;
}

.major{
    background-color: #FF0000;

    font-weight: bold;
}

.minor{
    background-color: #FF7733;
    
    font-style: italic;
}

.warning{
    background-color: #FFFF00;
}

.centerText{
    position: absolute;
    text-align: center;
}

.flexContainer{
    display: flex;
}

.flexItem{
    flex: 0 1 auto;
}

.gridContainer{
    display: grid;
}

.gridItem{
    grid-area: item;
}