button.codeButtonGreen{
    color: #32cd32;
    background-color: #666666;
    font-weight: bold;
    font-family: Georgia;
    border-radius: 45px;
}

button.codeButtonRed{
    color: #FF0000;
    background-color: #000000;
    font-weight: bold;
    font-family: Arial;
    border-radius: 45px;
}

button.codeButtonBlue{
    color: #0000FF;
    background-color: #000000;
    font-weight: bold;
    font-family: Arial;
    border-radius: 45px;
}

div.ideMain{
    background-color: #ACACAC;
    border: solid;
    border-color: #000000;
    border-width: 5px;
    position: relative;
    text-align: center;
    font-family: Arial;
    align-items: center;
}

div.ideBug{
    display: grid;
    grid-template-areas:
    "major minor warning";
    border: solid;
    border-color: #000000;
    border-width: 3px;
    text-align: center;
    font-family: Arial;
}

div.ideBug div.major{
    background-color: #FF0000;
    font-weight: bold;
}

div.ideBug div.minor{
    background-color: #FF7733;
    font-style: italic;
}

div.ideBug div.warning{
    background-color: #FFFF00;
}

div.ideOutput{
    display: grid;
    grid-template-areas:
    "output output";
    border: solid;
    border-color: #00CCFF;
    border-width: 3px;
    text-align: center;
    font-family: Helvetica;
}

div.ide{
    text-align: center;
}

div.ide input.ide{
    height: 800px;
    width: 800px;
}

div.ide form textarea.ide::placeholder{
    position: relative;
    text-align: center;
}

.centerText{
    position: absolute;
    text-align: center;
}

.flexContainer{
    display: flex;
}

.flexItem{
    flex: 0 1 auto;
}

.gridContainer{
    display: grid;
}

.gridItem{
    grid-area: item;
}

input.codeButtonGreen{
    color: #32cd32;
    background-color: #666666;
    font-weight: bold;
    font-family: Georgia;
    border-radius: 45px;
}

@media(prefers-reduced-motion: no-preference){
    div.ideBug div.major:hover{
        animation: pulse-major infinite 1s linear;
    }

    button.codeButtonGreen:hover{
        animation: pulse-button-green infinite 1s linear;
    }

    div.ide form input.codeButtonGreen:hover{
        animation: pulse-button-green infinite 1s linear;
    }
    button.codeButtonRed:hover{
        animation: pulse-button-red infinite 1s linear;
    }
}

@keyframes pulse-major{
    0%{
        background-color: #FF0000;
    }
    50%{
        background-color: #770000;
    }
    100%{
        background-color: #FF0000;
    }
}

@keyframes pulse-button-green{
    0%{
        color: #32cd32;
        background-color: #666666;
    }
    50%{
        color: #008900;
        background-color: #111111;
    }
    100%{
        color: #32cd32;
        background-color: #666666;
    }
}

@keyframes pulse-button-red{
    0%{
        color: #FF0000;
        background-color: #000000;
    }
    50%{
        color: #770000;
        background-color: #000000;
    }
    100%{
        color: #FF0000;
        background-color: #000000;
    }
}