.codeButton{
    color: #32cd32;
    background-color: #666666;

    font-weight: bold;
    font-family: Georgia;

    border-radius: 45px;
}

.codebuttonRed{
    color: #FF0000;
    background-color: #000000;

    font-weight: bold;
    font-family: Arial;

    border-radius: 45px;
}

.codeButtonBlue{
    color: #0000FF;
    background-color: #000000;

    font-weight: bold;
    font-family: Arial;

    border-radius: 45px;
}

.ideMain{
    background-color: #ACACAC;

    border: solid;
    border-color: #000000;
    border-width: 5px;

    position: absolute;
    text-align: center;

    font-family: Arial;
}

.centerText{
    position: absolute;
    text-align: center;
}