button.codeButtonGreen{
    color: #32cd32;
    background-color: #666666;

    font-weight: bold;
    font-family: Georgia;

    border-radius: 45px;
}

button.codeButtonRed{
    color: #FF0000;
    background-color: #000000;

    font-weight: bold;
    font-family: Arial;

    border-radius: 45px;
}

button.codeButtonBlue{
    color: #0000FF;
    background-color: #000000;

    font-weight: bold;
    font-family: Arial;

    border-radius: 45px;
}

div.ideMain{
    background-color: #ACACAC;

    border: solid;
    border-color: #000000;
    border-width: 5px;

    position: relative;
    text-align: center;

    font-family: Arial;

    align-items: center;
}

div.ideBug{
    display: grid;
    grid-template-areas:
    "major minor warning";
    border: solid;
    border-color: #000000;
    border-width: 3px;

    text-align: center;

    font-family: Arial;
}

div.ideOutput{
    display: grid;
    grid-template-areas:
    "output output";

    border: solid;
    border-color: #00CCFF;
    border-width: 3px;

    text-align: center;

    font-family: Helvetica;
}

div.major{
    background-color: #FF0000;

    font-weight: bold;
}

div.minor{
    background-color: #FF7733;
    
    font-style: italic;
}

div.warning{
    background-color: #FFFF00;
}

div.ide{
    text-align: center;
}

div.ide input.ide{
    height: 800px;
    width: 800px;
}

div.ide form textarea.ide::placeholder{
    position: relative;
    text-align: center;
}

.centerText{
    position: absolute;
    text-align: center;
}

.flexContainer{
    display: flex;
}

.flexItem{
    flex: 0 1 auto;
}

.gridContainer{
    display: grid;
}

.gridItem{
    grid-area: item;
}